.aws-modal{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-width: 10rem;
  min-height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);

  border-radius: 1rem;
  padding: 0.4rem;
}
