<section class="accordion">
  <div *ngFor="let item of items; index as i" class="accordion__item"
    [class.disabled]="item.disabled"
    [class.spaccing]="spaccing"
    [class.active]="expanded.has(i)">

    <ng-container
      [ngTemplateOutlet]="(item?.customHeader?.templateRef || defaultHeader)"
      [ngTemplateOutletContext]="{ $implicit: item, index: i, toggle: getToggleState(i) }"></ng-container>

    <div class="accordion__content" [class.expanded]="expanded.has(i)" [@openClose]="expanded.has(i) ? 'open':'closed'">
      <!-- <ng-container *ngTemplateOutlet="item?.content!.component.templateRef"></ng-container> -->
      <ng-container #contentBody></ng-container>
    </div>

  </div>
</section>

<ng-template #defaultHeader let-item let-index="index">
  <header class="accordion__header"
    (click)="item.disabled ? {} : toggleState(index)">
    <ng-container *ngTemplateOutlet="item?.customTitle?.templateRef || defaultTitle"></ng-container>
    <button class="accordion__toggle-btn" [disabled]="item.disabled">
      <mat-icon fontSet="fa" [fontIcon]="icons.close"></mat-icon>
    </button>
  </header>

  <ng-template #defaultTitle>
    <p class="accordion__title">{{item?.title}}</p>
  </ng-template>

</ng-template>
