:host {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 999;
}

.sidebar {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 500px;
  height: 100%;
  z-index: 1;

  .content {
    overflow: auto;
    padding: 1rem;
  }

  .header {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
}

.backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0000009a;
  opacity: 0.75;
  z-index: 1;
}



