<aws-sidebar (isClosed)="closeSidebar($event)" [isOpen]="isOpen">
  <div>
    Sidebar
  </div>
  <p> Sidebar</p>
  <p> Sidebar</p>
  <p> Sidebar</p>
  <p> Sidebar</p>
  <p> Sidebar</p>
  <p> Sidebar</p>
</aws-sidebar>

<div  class="tabs flex flex-col items-center">
  <div class="w-full flex mt-4 items-center justify-center">
    <p>Basic use of Badge</p>
  </div>

  <div class="flex w-full justify-around">
    <div *ngFor="let badge of badgesItems">
      <div
      awsBadge
      [awsBadgeLabel]="badge.label"
      [awsBadgePosition]="badge.position"
      [awsBadgeSize]="badge.size"
      [awsBadgeColor]="badge.color" class="flex flex-col bg-slate-600 text-white rounded-md p-4">{{ badge.text }}</div>
    </div>
</div>


<div  class="tabs">
  <div class="w-full flex mt-4 items-center justify-center">
    <p>Basic use of Toast</p>
  </div>

  <div class="flex w-full justify-around">
    <button (click)="showSucessToast()" mat-raised-button color="primary">Show toast on left</button>
    <button (click)="showSucessToast()" mat-raised-button color="accent">Show toast on right</button>
    <button (click)="showErrorToast()" mat-raised-button color="warn">Show error tost</button>
    <button (click)="showAlertToast()" mat-raised-button color="primary">Show alert tost</button>
    <button (click)="showInfoToast()" mat-raised-button color="primary">Show info tost</button>
  </div>
</div>

<div  class="tabs">
  <div class="w-full flex mt-4 items-center justify-center">
    <p>Basic use of Modal</p>
  </div>

  <div class="flex w-full justify-around">
    <button (click)="openModal()" mat-raised-button color="primary">Open Modal</button>
  </div>
</div>


<div class="tabs">
  <div class="w-full flex mt-4 items-center justify-center">
    <p>Basic use of the tab group</p>
  </div>

  <aws-tabs-group (selectedTabChange)="selectedTabChange($event)" animationDuration="300ms">
    <aws-tab-item tabTitle="First">
      <ng-template awstabContent>
      <button (click)="isOpen = !isOpen" class="p-1 bg-slate-600 text-white rounded-md my-4">Open Sidebar</button>
    </ng-template>
    </aws-tab-item>

    <aws-tab-item tabTitle="Second">
      <ng-template awstabContent>
      <div class="p-9 flex flex-col items-start">
        <div class="flex w-[40rem]">
          <accordeon [collapsing]="true" [spaccing]="false">
            <accordion-item>
              <ng-template accordionHeader let-toggle="toggle">
                <div class="flex items-center justify-between cursor-pointer px-4 h-12 bg-gray-800" (click)="toggle()">
                  <p class="text-white"> Custom Header</p>
                  <div class="flex space-x-2">
                    <button class="text-white">
                      <mat-icon fontSet="fa" fontIcon="fa-chevron-up"></mat-icon>
                    </button>
                  </div>
                </div>
              </ng-template>
              <ng-template accordionContent [component]="items[0].component">
              </ng-template>
            </accordion-item>
          </accordeon>
        </div>
      </div>
    </ng-template>
    </aws-tab-item>

    <aws-tab-item tabTitle="Thrid">
      <ng-template awstabContent>
        <div class="p-9 flex flex-col items-start">
          <div class="flex w-[40rem]">
            <accordeon [collapsing]="true" [spaccing]="false">
              <accordion-item [title]="acc.title" *ngFor="let acc of items">
                <ng-template accordionContent [component]="acc.component">
                </ng-template>
              </accordion-item>
            </accordeon>
          </div>
        </div>
      </ng-template>
    </aws-tab-item>
  </aws-tabs-group>
</div>

<div class="tabs">
  <div class="w-full flex mt-4 items-center justify-center">
    <p>Using tabs with a custom label template</p>
  </div>

  <aws-tabs-group (selectedTabChange)="selectedTabChange($event)">

    <aws-tab-item>
      <ng-template awstabLabel>
        <mat-icon class="mr-2">thumb_up</mat-icon>
        <p>First</p>
      </ng-template>

      <ng-template awstabContent>
      Content 1
      </ng-template>
    </aws-tab-item>

    <aws-tab-item>
      <ng-template awstabLabel>
        <mat-icon class="mr-2">thumb_up</mat-icon>
        <p>Second</p>
      </ng-template>

      <ng-template awstabContent>
      Content 2
    </ng-template>
    </aws-tab-item>

    <aws-tab-item>
      <ng-template awstabLabel>
        <mat-icon class="mr-2">thumb_up</mat-icon>
        <p>Thrid</p>
      </ng-template>


      <ng-template awstabContent>
        Content 3
      </ng-template>
    </aws-tab-item>
  </aws-tabs-group>
</div>

<div class="tabs">
  <div class="w-full flex mt-4 items-center justify-center">
    <p>Tab group animations</p>
  </div>

  <div class="w-full flex mt-4 items-center justify-center">
    <p>Animation</p>
  </div>

  <aws-tabs-group (selectedTabChange)="selectedTabChange($event)" animationDuration="300ms">

    <aws-tab-item>
      <ng-template awstabLabel>
        <mat-icon class="mr-2">thumb_up</mat-icon>
        <p>First</p>
      </ng-template>


      <ng-template awstabContent>
        Content 1
      </ng-template>
    </aws-tab-item>

    <aws-tab-item>
      <ng-template awstabLabel>
        <mat-icon class="mr-2">thumb_up</mat-icon>
        <p>Second</p>
      </ng-template>


      <ng-template awstabContent>
        Content 2
      </ng-template>
    </aws-tab-item>

    <aws-tab-item>
      <ng-template awstabLabel>
        <mat-icon class="mr-2">thumb_up</mat-icon>
        <p>Thrid</p>
      </ng-template>


      <ng-template awstabContent>
        Content 3
      </ng-template>
    </aws-tab-item>
  </aws-tabs-group>


  <div class="w-full flex mt-4 items-center justify-center">
    <p>No Animation and with aligned labels</p>
  </div>
  <aws-tabs-group (selectedTabChange)="selectedTabChange($event)" animationDuration="0ms" tabAlign="start">

    <aws-tab-item>
      <ng-template awstabLabel>
        <mat-icon class="mr-2">thumb_up</mat-icon>
        <p>First</p>
      </ng-template>


      <ng-template awstabContent>
        Content 1
      </ng-template>
    </aws-tab-item>

    <aws-tab-item>
      <ng-template awstabLabel>
        <mat-icon class="mr-2">thumb_up</mat-icon>
        <p>Second</p>
      </ng-template>


      <ng-template awstabContent>
        Content 2
      </ng-template>
    </aws-tab-item>

    <aws-tab-item>
      <ng-template awstabLabel>
        <mat-icon class="mr-2">thumb_up</mat-icon>
        <p>Thrid</p>
      </ng-template>


      <ng-template awstabContent>
        Content 3
      </ng-template>
    </aws-tab-item>
  </aws-tabs-group>
</div>

</div>
